<div class="container">
  <form action="" autocomplete="off">
    <mat-card  style="border-radius: 20px;">
      <mat-card-title id="acciones" style="border-radius: 10px; padding: 10px; background: #343A40; color: white;">Ficha Medica</mat-card-title>
      <mat-card-subtitle>Permite ingresar los datos de la ficha medica de cada Paciente</mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Buscar Paciente</mat-label>
              <input matInput placeholder="Nombre y Apellido " >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Gastritis</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Gastritis</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Hipertencion Arterial</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Problemas Coagulacion</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Diabetes</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Hepatitis</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Asma</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Enfermedades Cardiacas</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Protesis Cardiaca</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Disturbios Psiquicos</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Tratamiento Cabeza/Cuello</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Desmayo o Vertigo</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Epilepsia</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Anemia</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Hemofilia</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Tuberculosis</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Sinusitis</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>VIH</mat-label>
              <mat-select  >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Enfermedades Sexuales</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>Cancer</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>COVID 19</mat-label>
              <mat-select >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Otro</mat-label>
              <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
           </div>
        </div>
        <div class="row">

         <div class="col-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Observacion</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
         </div>
        </div>
        <div class="row">
          <div class="col" id="acciones">
            <button mat-raised-button style=" background: rgb(143, 209, 130); color: white;">Guardar</button>
            <button mat-raised-button  type="reset" style=" background: #949BA3; color: white;" >Cancerlar</button>
            <button mat-raised-button [routerLink]="['/principal']" style=" background: #042953; color: white;">Volver</button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
