<div >
  <form [formGroup]="datosPeronas" autocomplete="off">
      <mat-card id="co" style="border-radius: 20px;">
        <mat-card-title id="acciones" style="border-radius: 10px; padding: 10px; background: #343A40; color: white;">Registro de Pacientes</mat-card-title>
        <mat-card-subtitle>Permite ingresar los datos básicos del pacientes antes de la consulta</mat-card-subtitle>
        <mat-card-content>
        <div class="row">
          <div class="col-sm-6 col-12">
            <!-- primer campo -->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Nombre Completo</mat-label>
              <input
              formControlName="nombre"
              matInput placeholder="Datos del Paciente">
            </mat-form-field>
            <div *ngIf="this.datosPeronas.get('nombre') && this.datosPeronas.get('nombre')?.invalid && this.datosPeronas.get('nombre')?.touched" class="alert alert-danger" >
              Ingrese el nombre
            </div>
            <!-- fin -->
          </div>
          <div class="col-sm-6 col-12">
               <!-- segundo campo -->
               <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Apellido Completo</mat-label>
                <input
                formControlName="apellido"
                matInput placeholder="Datos del Paciente">
              </mat-form-field>
              <!-- fin -->
              <div *ngIf="this.datosPeronas.get('apellido') && this.datosPeronas.get('apellido')?.invalid && this.datosPeronas.get('apellido')?.touched" class="alert alert-danger" >
                Ingrese el nombre
              </div>
          </div>
          <div class="col-sm-3 col-12">
          <!-- segundo campo -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero de C.I</mat-label>
            <input
            formControlName="cedula"
            matInput placeholder="Datos del Paciente">
          </mat-form-field>
          <!-- fin -->
          <div *ngIf="this.datosPeronas.get('cedula') && this.datosPeronas.get('cedula')?.invalid && this.datosPeronas.get('cedula')?.touched" class="alert alert-danger" >
            Ingrese el nombre
          </div>
          </div>
          <div class="col-sm-3 col-12">
            <!-- segundo campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numero RUC</mat-label>
              <input
              formControlName="ruc"
              matInput placeholder="Datos del Paciente">
            </mat-form-field>
            <!-- fin -->
            <div *ngIf="this.datosPeronas.get('ruc') && this.datosPeronas.get('ruc')?.invalid && this.datosPeronas.get('ruc')?.touched" class="alert alert-danger" >
              Ingrese el nombre
            </div>
            </div>
          <div class="col-sm-3 col-12">
            <!-- segundo campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input
              formControlName="fecha"
              type="date" matInput placeholder="Datos del Paciente">
            </mat-form-field>
            <!-- fin -->
          </div>
          <div class="col-sm-3 col-12">
            <!-- quinto campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Correo Electronico</mat-label>
              <input
              formControlName="correo"
              type="email" matInput  placeholder="Ex. pat@example.com">
            </mat-form-field>
            <!-- fin -->
          </div>
          <div class="col-sm-4 col-12">
            <!-- sexto campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Telefono</mat-label>
              <span matPrefix>+595 &nbsp;</span>
              <input
              formControlName="telefono"
              type="tel" matInput placeholder="991-555-123">
            </mat-form-field>
            <!-- fin -->
            <div *ngIf="this.datosPeronas.get('telefono') && this.datosPeronas.get('telefono')?.invalid && this.datosPeronas.get('telefono')?.touched" class="alert alert-danger" >
              Ingrese el telefono
            </div>
          </div>
          <div class="col-sm-4 col-12">
               <!-- sexto campo -->
               <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Telefono Whatsapp</mat-label>
                <span matPrefix>+595 &nbsp;</span>
                <input
                formControlName="whatsapp"
                type="tel" matInput placeholder="991-555-123">
              </mat-form-field>
              <!-- fin -->
              <div *ngIf="this.datosPeronas.get('whatsapp') && this.datosPeronas.get('whatsapp')?.invalid && this.datosPeronas.get('whatsapp')?.touched" class="alert alert-danger" >
                Ingrese el numero de Whatsapp
              </div>
          </div>
          <div class="col-sm-4 col-12">
            <!-- sexto campo -->
            <mat-form-field class="example-full-width" appearance="outline">
             <mat-label>Telefono Emergencia</mat-label>
             <span matPrefix>+595 &nbsp;</span>
             <input
             formControlName="emergencia"
             type="tel" matInput placeholder="991-555-123">
           </mat-form-field>
           <!-- fin -->
           <div *ngIf="this.datosPeronas.get('emergencia') && this.datosPeronas.get('emergencia')?.invalid && this.datosPeronas.get('emergencia')?.touched" class="alert alert-danger" >
             Ingrese el numero de Emergencia
           </div>
       </div>
          <div class="col-sm-4 col-12">
            <!-- sexto campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input type="text"
              placeholder="Ciudad"
              aria-label="Number"
              matInput
              [formControl]="datosciudad"
              [matAutocomplete]="auto"
              >
            <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let option of filCiudad | async" [value]="[option.nombre]">
           {{option.nombre}}
         </mat-option>
       </mat-autocomplete>
           </mat-form-field>
           <!-- fin -->

       </div>
       <div class="col-sm-4 col-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Direccion</mat-label>
          <input
          formControlName="direccion"
          matInput placeholder="Direccion+">
        </mat-form-field>
        <div *ngIf="this.datosPeronas.get('direccion') && this.datosPeronas.get('direccion')?.invalid && this.datosPeronas.get('direccion')?.touched" class="alert alert-danger" >
          Ingrese la Direccion
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Grupo Sanguineo</mat-label>
          <input
          formControlName="grupo_sanguineo"
          matInput placeholder="Grupo Sanguineo">
        </mat-form-field>
        <div *ngIf="this.datosPeronas.get('grupo_sanguineo') && this.datosPeronas.get('grupo_sanguineo')?.invalid && this.datosPeronas.get('grupo_sanguineo')?.touched" class="alert alert-danger" >
          Ingrese el Grupo Sanguineo
        </div>
      </div>
       <div class="col-sm-4 col-12">
       <!-- sexto campo -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Profesion</mat-label>
              <input type="text"
              placeholder="Profesion"
              matInput
              [formControl]="datosprofesion"
              [matAutocomplete]="profesion"
              >

            <mat-autocomplete #profesion="matAutocomplete">
        <mat-option *ngFor="let option of filtroProfesiones | async" [value]="option.descripcion">
          {{option.descripcion}}
        </mat-option>
      </mat-autocomplete>
          </mat-form-field>
          <!-- fin -->
       </div>
       <div class="col-sm-4 col-12">
        <!-- sexto campo -->
             <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Genero</mat-label>
               <input type="text"
               placeholder="Genero"
               matInput
               [formControl]="datosgenero"
               [matAutocomplete]="genero">
             <mat-autocomplete #genero="matAutocomplete">
         <mat-option *ngFor="let option of filtroGenero | async" [value]="option.descripcion">
           {{option.descripcion}}
         </mat-option>
       </mat-autocomplete>
           </mat-form-field>
           <!-- fin -->
        </div>
        <div class="col-sm-4 col-12">
          <!-- sexto campo -->
               <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Estado Civil</mat-label>
                 <input type="text"
                 placeholder="Estado"
                 matInput
                 [formControl]="datosestado"
                 [matAutocomplete]="estado">
               <mat-autocomplete #estado="matAutocomplete">
           <mat-option *ngFor="let option of filtroEstados | async" [value]="option.descripcion">
             {{option.descripcion}}
           </mat-option>
         </mat-autocomplete>
             </mat-form-field>
             <!-- fin -->

          </div>
          <div class="col-sm-5 col-12">
            <!-- sexto campo -->
                 <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Odontologo/a Tratante</mat-label>
                   <input type="text"
                   placeholder="Introducir nombre del Odontologo/a"
                   matInput
                   [formControl]="datoDoctor"
                   [matAutocomplete]="doctor">
                 <mat-autocomplete #doctor="matAutocomplete">
             <mat-option *ngFor="let option of filtroDoctores | async" [value]="option.iddoctores+' - '+option.valor">
               {{option.iddoctores+' - '+option.valor}}
             </mat-option>
           </mat-autocomplete>
               </mat-form-field>
               <!-- fin -->
            </div>
          <div class="col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tutor Legal</mat-label>
              <input
              formControlName="tutor"
              matInput
               placeholder="Tutor Legal">
            </mat-form-field>
            <div *ngIf="this.datosPeronas.get('tutor') && this.datosPeronas.get('tutor')?.invalid && this.datosPeronas.get('tutor')?.touched" class="alert alert-danger" >
              Ingrese el Tutor Legal
            </div>
          </div>
          <!-- <div class="col-sm-3 col-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Codigo</mat-label>
              <input
              formControlName="iddoctores"
              matInput placeholder="Odontologo/a de Cabecera">
            </mat-form-field>
            <div *ngIf="this.datosPeronas.get('iddoctores') && this.datosPeronas.get('iddoctores')?.invalid && this.datosPeronas.get('iddoctores')?.touched" class="alert alert-danger" >
              Ingrese el
            </div>
          </div> -->
          <!-- <div class="col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Odontologo/a de Cabecera</mat-label>
              <input
              formControlName="doctor"
              matInput placeholder="Odontologo/a de Cabecera">
            </mat-form-field>
            <div *ngIf="this.datosPeronas.get('doctor') && this.datosPeronas.get('doctor')?.invalid && this.datosPeronas.get('doctor')?.touched" class="alert alert-danger" >
              Ingrese el Odontologo/a
            </div>
          </div>
          <div class="col-1">
            <a mat-fab color="primary" (click)="abrirBuscador()" aria-label="Example icon button with a delete icon">
              <mat-icon>search</mat-icon>
            </a>
          </div> -->

        </div>
        <mat-toolbar *ngIf="alerta==true" (click)="limpiar()">
          <span >{{mensaje}}</span>
        </mat-toolbar>
        <div class="row">
          <div class="col" id="acciones">
            <button mat-raised-button  [disabled]="datosPeronas.invalid" (click)="crearPersona()" style=" background: rgb(143, 209, 130); color: white;">Guardar</button>
            <button mat-raised-button style=" background: rgb(9, 9, 9); color: white;" (click)="codigoCiudad()">Modificar</button>
            <button mat-raised-button type="reset" style=" background: #949BA3; color: white;" >Cancerlar</button>
            <button mat-raised-button [routerLink]="['/principal']" style=" background: #042953; color: white;">Volver</button>

          </div>
        </div>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
      <br>

    </form>
</div>

